body {
  background-color: #f1f1f1;
}
.van-tabs .van-tabs__wrap {
  z-index: 1;
  height: 42px;
  position: sticky;
  top: 180px;
}
.van-tabs .van-tabs__wrap .van-tab {
  font-size: 18px;
  color: #666666;
}
.van-tabs .van-tabs__wrap .van-tab--active {
  color: #000000;
}
.van-tabs .van-tabs__wrap .van-tabs__line {
  height: 2px;
  background-color: #000000;
}
img {
  -webkit-touch-callout: none;
}
